
  * {
    font-family: 'Montserrat', sans-serif;
}

  html {
    overflow-y: none;
  }

  body {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  section {
    display: flex;
    width: 100%;
  }

  .buy-now-div {
    width: 50%;
  }

  .buy-now-div-two {
    width: 50%;
  }
    .twitter,
    .facebook,
    .youtube,
    .github,
    .fiverr {
        border: none;
        background: none;
    }
    
    ul {
      display: flex;
      list-style: none;
    }
    footer {
      background: none;
      text-align: center;
      justify-content: center;
    }

    .footer-copy-rights {
      text-align: center;
    }

    #submit {
      position: relative;
      bottom: 30px;
      border-radius: 3px;
    }

    #submit:hover {
      cursor: pointer;
    }

    .call-to-action {
      text-align: center;
      width: 100%;
      position: relative;
      top: 5px;
  }

  .form-btn-div {
    position: relative;
    top: 20px;
    text-align: right;
    width: 100%;
}

section {
  max-width: 700px;
  text-align: center;
  justify-content: center;
}

  
  /*window/Page Control*/